input.currency {
    text-align: right;
    padding-right: 15px;
}

input.dollar {
    text-align: right;
    padding-right: 15px;
}

td.currency {
    text-align: right;
    padding-right: 15px;
}

td.dollar {
    text-align: right;
    padding-right: 15px;
}

th.currency {
    text-align: right;
    padding-right: 15px;
}

th.dollar {
    text-align: right;
    padding-right: 15px;
}

span.calendar { cursor: pointer; cursor: hand; }

span.list { cursor: pointer; cursor: hand; }

thead th {
  color: #FFF;
background-color: #3c763d;
border-color: #337AB7;
  
}

li active {
	background-color: #3c763d;
}

tbody tr:nth-child(even) {
  background-color: #EEEEEE;
}


.datepicker{z-index:1001 !important;}
.typeahead{z-index:1002 !important;}


.table>tbody>tr:hover>td, .table>tbody>tr:hover>th {
background-color: #dff0d8;
border-color: #dff0d8;
  cursor: pointer; cursor: hand;
}

.pagination li.active a, .pagination li.active a:hover {
 color: #FFF;
background-color: #3c763d;
border-color: #3c763d;
}

a.list-group-item:hover{
	color: #FFF;
background-color: #337AB7;
border-color: #2E6DA4;
  cursor: pointer; cursor: hand;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}


.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.white-text{
	color:#fff !important;
}
@media (min-width:576px) {
.text-center-sm{
	text-align:center;
}
}
@media (min-width: 768px) {
.text-md-left{
	text-align:left;
}
 }
 .hover:hover{
 text-decoration:none !important
 }
 .mb-4{
 padding:10px; border-radius:10px;
transition:0.5s;
 }
 .ubuntu{
 font-family:ubuntu
 }
 .mb-4:hover{
 background:#f8f7f7 !important;
 }
 .green{
 color:#329136 !important;
 }
 .clear5{
  padding-top:50px;
 }
 .form-control{
 box-shadow:none !Important;
 }
 .form-control:focus{
 border:1px solid #5ec75e !important;}
 .clear4{
  padding-top:40px;
 }
 .clear3{
 padding-top:30px;
 } 
 .clear2{
 padding-top:20px;
 }
 .desk{
 font-size:110%;
 color:#555;
 font-family:Ubuntu !important;
 }
 .img-fluid{
 border:1.5px solid #8BC34A !important;
 max-height:125px;
 max-width:125px;
 }
 p>.lh{
 font-weight:300 !important;
 }
 .rounded-circle{
 border-radius:100%;
 }
 .lh{
 font-family:Roboto !Important;
 line-height:1.6;
font-weight:350;
 font-size:130%;
 }
 .judul{
 font-size:30px;
 color:#777;
 }
 .{
 height:0.15rem;
 width:10% !important;
 margin:0 auto;
 font-weight:300 !important;
 background: #777 !important;
 width:100%;
}
 .blok-white{
 height:1px;
 background: white !important;
 width:100%;
 
}
.image-bg-fluid-height {
	/* background: url('../img/500.jpg') no-repeat center center scroll; */
height:auto;
	background: url('images/bg-header.jpg')no-repeat center; background-size: cover;
    padding:25px 0px 45px;
}
@media (min-width: 992px) {
.image-bg-fluid-height {
	height:600px;
	
}
}
@media (min-width: 992px) {
.well_{
	/*width:550px;*/
}
}
label{
	font-weight:500;
	font-family:Roboto;
	font-size:16px;
	color:#444!important;
}
.col_stan{
	color:#444 !important;
}
.jumbotron_{
	border-radius:5px;
background:#008000a1;
   padding:9px 10px 16px 20px!important;
   margin:0px !Important;
    font-weight:300 !important;
    font-family:Roboto;
}
.jumbotron_ h1{
	font-weight:300 !important;
	color:#fff !important;
	font-size:190% !Important;
	margin-bottom:2px;
}
.jumbotron_ p{
font-size:18px;	
color:#fff !important;
}



	.well_{
	padding:15px 30px 55px 30px;
	background:white;
	border-radius:5px;
	
	/* box-shadow:0px 0px 10px 1px #00000042;*/
}
 h3{
    font-weight: 300 !important;
}
.m__{
	margin-top:-8px;
}
.m_{
	margin-top:10px;
}
h1{
	
}
.fU{
	font-family: Ubuntu !important;
	font-weigh:bold !important;
}
.h3, h3 {
    font-size: 2.55rem;
}

.image-bg-fixed-height {
	background: url('../img/500.jpg') no-repeat center center scroll;
    
    height: 450px;
}

.img-center {
	margin: 0 auto;
}
.border-label-text {
	border:1px solid #eee;
}
.btn-def-lha {
  	color: #FFF;
	background-color: #3c763d;
	border-color: #337AB7;
}
.btn-def-lha:hover {
	background-color: #dff0d8;
	border-color: #dff0d8;
}
.form-control-lha-sm {
	width:105px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border-radius:3px;
	font-size:12px;
	padding: 5px 10px;
}
.form-control-lha-md {
	width:120px;
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border-radius:3px;
	font-size:12px;
	padding: 5px 10px;
}
.canvasTes{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
}